$yellow: #fffa18;
$red: #D83E1D;
$green: #45D81D;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $bottom){
	padding-top: $top;
	pading-bottom: $bottom;
	color: $green;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}


.card-hotel{
	flex: 1 200px;	
	@include margenes(10px, 0px);


}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}


.btn-contactame{
	@include margenes(50px, 50px);
	border-radius: 10px;
	position: relative;
	left: 50%;
}

.card img{
	
	width: 100%;
	height: 50%;
}