.jumbotron {
  background-color: #fffa18;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa18;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.btn-contactame {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
  left: 50%;
}

.card img {
  width: 100%;
  height: 50%;
}

/*# sourceMappingURL=styles.css.map */
